/*
* @Author: Administrator
* @Date:   2017-12-02 18:58:56
* @Last Modified by:   Administrator
* @Last Modified time: 2017-12-05 11:03:54
*/
*{
	margin: 0;
	padding: 0;
	font-family: "微软雅黑","宋体",sans-serif;
	font-size: 16px;
}
body{
	background: #F4F4F4;
	    color: #666;
	        height: auto;
    position: relative;
}
img{
	border: none;
}
a{
	text-decoration: none;
}
li{
    list-style:none;
}
i{
	font-style: normal;
}
@font-face {
  font-family: 'iconfont';  /* project id 495427 */
  src: url('https://at.alicdn.com/t/font_495427_3r9qx3zz6geewmi.eot');
  src: url('https://at.alicdn.com/t/font_495427_3r9qx3zz6geewmi.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_495427_3r9qx3zz6geewmi.woff') format('woff'),
  url('https://at.alicdn.com/t/font_495427_3r9qx3zz6geewmi.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_495427_3r9qx3zz6geewmi.svg#iconfont') format('svg');
}
input{
  outline:none;
}
